
.BCWhole-Block{
    display: flex;
    background: #29a19c;
    width: 1440px;
    height: 719px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 88px;
}
.BCOrder-Now{
    width: 1170px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.BCleft-part{
    display: flex;
    height: 386px;
    width: 550px;
    flex-direction: column;
    gap:100px;
    justify-content: center;
}
.BCCoffee-Coffee-text{
    line-height: 0.90;
    letter-spacing: 6px;

}
.BCCoffee-text-Black{
    font-size: 92pt;
    line-heigh:10%;
    font-family: "Grand Hotel",serif;
    color: white;
}
.BCCoffee-text-Coffees{
    font-size: 92pt;
    line-heigh:10%;
    font-family: "Grand Hotel",serif;
    color: white;
}
.BCbtn-Order-Now{
    letter-spacing: 1px;
    display: flex;
    margin-bottom: auto;
    width: 247px;
    height: 60px;
    background:#222831;
    color:white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 25pt;
    font-family: Montserrat, serif;
    font-weight: 700;
}
.BCbtn-Order-Now:hover{
    background:cadetblue;
}
.BCright-part{

    width: 620px;
    height: 700px;
// margin: auto;

}
.BCBlack-coffee-img{
    margin-left:62px;
    margin-top:65px;
    scale: 1.05;
}
.BCRight-part-text{
    line-height: 152%;
    width: 620px;
    margin-top: 50px;
    margin-left: -56px;
    font-family: Montserrat Regular, serif;
    color: white;
    font-size: 19pt;
    letter-spacing: 0;
    text-align: right;
    position: relative;
}
