.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #222831;
    width: 100%;
    height: 140px;
}

.header .navigation ul{ margin-top: 54px;}
.header .navigation li{ margin-left: 50px; }
.header .navigation a { font-size: 24px; letter-spacing: 1px; margin: 0}

.header img{
    display: inline-block;
    float: right;
    margin-right: 60px;
    margin-top: 44px;
}
.navigation .current-page{
    text-decoration-line: underline;
    text-decoration-color: #29a19b;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-underline-style: thick;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: #29a19b;
}
.footer .navigation {}
.footer .navigation ul{ }
.footer .navigation li{ margin-left: 59px; }
.footer .navigation a { font-size: 20px; letter-spacing: 1px; margin: 0}

.socials {float: right; margin-right: 40px}
.socials ul{list-style-type: none}
.socials li{float: left;  height: 22px; width: 67px; text-align: center}
.socials a {}
.socials img{max-height: 100%; max-width: 100%;}
.socials .ficon{max-height: 120%; margin-top: -6px;}