.header {
    position: static;
    top: 0;
    z-index: 100;
    background-color: #222831;
    width: 100%;
    height: 140px;
}

.header .navigation ul{ margin-top: 54px;}
.header .navigation li{ margin-left: 50px; }
.header .navigation a { font-size: 24px; letter-spacing: 1px; margin: 0}

.header img{
    display: inline-block;
    float: right;
    margin-right: 60px;
    margin-top: 44px;
}
.navigation .current-page{
    text-decoration-line: underline;
    text-decoration-color: #29a19b;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    text-underline-style: thick;
}




.footer{
    position: absolute;
    top: 6620px;
    width: 1440px;
    height: 428px;
    background-color: #29a19b;

}
.wrap {display: inline-flex; width:100%; margin-bottom: 70px;}

.wrap1 {
    display: grid;
    width:100%;
    margin-bottom: 70px;
    grid-template-columns: 400px 15.4fr 8.7fr 1.9fr;
    justify-items: center;
}
.wrap2 {
    margin-top: 12px;
    display: inline-grid;
    width:100%;
    margin-bottom: 70px;
    grid-template-columns: 14.6fr 6.2fr 6.4fr;
}

.footer img{
    margin-left: 12px;
    width: 75%;
    /*margin-left: 60px;*/
    /*width: 50%;*/
    /*margin-right: 370px;*/
}

.footer .navigation-vert{
    font-size: 23px;
    justify-self: flex-end;
    /*margin-left: 50px;*/
    /*margin-right: 75px;*/
}
.footer .navigation-vert h3 {
    font-size: 34px;
    letter-spacing: 1px;
}


.footer .navigation-vert ul{margin-top: 50px}
.footer .navigation-vert li{margin-bottom: 10px;}


.footer .navigation {justify-self: start}
.footer .navigation ul{margin-right: 2px;}
.footer .navigation li{ margin-left: 58px; }
.footer .navigation a { font-size: 20px; letter-spacing: 1px; margin: 0}

.socials {justify-self: center;}
.socials ul{list-style-type: none}
.socials li{float: left;  height: 22px; width: 67px; text-align: center}
.socials a {}
.footer .socials img{max-height: 100%; max-width: 100%;}
.socials .ficon{max-height: 120%; margin-top: 0}