.HC-wave{
    width: 1440px;
}
.HC-Whole-Block{
    display: flex;
    background:#222831;
    width: 1440px;
    height: 642px;
    align-items:center;
    justify-content: center;
    margin: auto;
    padding-bottom: 24px;
}
.HC-Order-Now{
    width: 1170px;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.HC-left-part{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 700px;
}


.HC-Hot-coffee-img{
    margin: auto;
    height: 485px;
    width: 505px;
    float: right;
    margin-left: 132px;
    margin-top: -10px;

}
.HC-Left-part-text{
    line-height: 152%;
    width: 644px;
    margin-top: 50px;
    padding-left: 85px;
    font-family: Montserrat Regular, serif;
    color: white;
    font-size: 19pt;
    letter-spacing: 0;
    text-align: left;
}

.HC-right-part{
    display: flex;
    height: 386px;
    width: 550px;
    flex-direction: column;
    gap:100px;
    justify-content: center;
}

.HC-Coffee-Coffee-text{
    line-height: 0.90;
    letter-spacing: 6px;

}
.HC-Coffee-text-Hot{
    margin-left: -59px;
    text-align: center;
    font-size: 92pt;
    line-heigh:10%;
    font-family: "Grand Hotel",serif;
    color: white;
}
.HC-Coffee-text-Coffees{
    margin-left: -41px;
    font-size: 92pt;
    line-heigh:10%;
    font-family: "Grand Hotel",serif;
    color: white;
}
.HC-btn-Order-Now{
    margin-left: 40px;
    margin-top: 3px;
    letter-spacing: 1px;
    display: flex;
    margin-bottom: auto;
    width: 247px;
    height: 60px;
    background:#29a19c;
    color:white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 25pt;
    font-family: Montserrat, serif;
    font-weight: 700;
}
.HC-btn-Order-Now:hover{
    background:cadetblue;
}





