html {
    margin: auto;
    background-color: #222831;
    width: 1440px;
}
.siteWrapper{

    display: flex;
    width: 1440px;
    flex-direction: column;

}
body{
    margin: auto;
}
.back_icons{
    width: 1440px;
    position: absolute;
    margin: auto;
}
.back_icons img{
    position: absolute;
    z-index: 10;
}


