
.OurBranches{
    /*background: url("../images/backgraund5_05.jpg")*/
    /*center no-repeat;*/
    background: #222831;
    background-size: cover;
    height: 1058px;
    display: flex;
    flex-direction: column;
    justify-self: center;

}
.OurBranches__Title{

    font-family: 'Grand Hotel', cursive;
    color: #ffff;
    letter-spacing: 5px;
    font-size: 82px;
    font-weight: 400;
  //  padding-top: 145px;
    text-align: center;
}
.Branches{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
//gap: 30px;
}
.Branches__item{
    display: flex;
    width: 285px;
    flex-direction: column;
    gap: 45px;
}

.Branches__Title{
    margin: auto;
    background-color: #29a19c;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 31px;
    color: #ffff;
    width: 248px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, color 0.2s;
    letter-spacing: 3px;
}

.Branches__Title:hover{
    background: #ffff;
    color: #222831;
}

.Branches__Text{
    margin-top: -10px;
    margin-left: -27px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    width: 341px;
    height: 112px;
    line-height: 01.7;
}
