
.OurBranches{
    background: url("../images/backgraund5_05.jpg")
    center no-repeat;
    background-size: cover;
    height: 1058px;
    display: flex;
    flex-direction: column;
    justify-self: center;

}
.OurBranches__Title{
    font-family: 'Grand Hotel', cursive;
    color: #ffff;
    font-size: 70px;
    font-weight: 400;
    padding-top: 160px;
    text-align: center;
}
.Branches{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
//gap: 30px;
}
.Branches__item{
    width: 285px;
}

.Branches__Title{
    background-color: #29a19c;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffff;
    width: 248px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s,
    color 0.2s;
}

.Branches__Title:hover{
    background: #ffff;
    color: #222831;
}

.Branches__Text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 10px;
    font-weight: 400;
    width: 333px;
    height: 125px;
    line-height: 2;
}
