
.Voucher{
    background: url("../images/background1_02.jpg")
    center no-repeat;
    background-size: cover;
    height: 720px;
    text-align: center;
}
.Voucher__title{
    font-family: 'Grand Hotel', cursive;
    color: #ffff;
    font-size: 130px;
    margin-left: -54px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}

.shadow{
    box-shadow: -10px 10px 20px 1px black;
}
.btn{
    padding-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.getVoucher{
    background-color: #29a19c;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 31px;
    letter-spacing: 2px;
    color: #ffff;
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s,
    color 0.2s;

}
.getVoucher:hover{
    background: #ffff;
    color: #222831;
}



