.WeAreOpen{
    /*background: url("../images/backGround3_04.jpg")*/
    /*center no-repeat;*/
    background:#29a19c;
    background-size: cover;
    height: 535px;
    text-align: center;
    padding-left: 2px;

}
.TimeTable{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 85px;
}
.WeAreOpen__Title{
    font-family: 'Grand Hotel', cursive;
    color: #ffff;
    font-size: 98px;
    letter-spacing: 3.8px;
    font-weight: 400;
    margin-bottom: 30px;
}

.WeAreOpen__Workday{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 38px;
    letter-spacing: -0.2px;
    font-weight: 700;
    padding-top: 47px;
    padding-right: 7px;
}
.WorkdayTime{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 38px;
    font-weight: 400;
    margin-top: -21px;
    padding-top: 22px;
    letter-spacing: -0.2px;
    padding-right: 10px;

}
.WeekEnd{
    margin-top: 50px;
}