.WeAreOpen{
    background: url("../images/backGround3_04.jpg")
    center no-repeat;
    background-size: cover;
    height: 600px;
    text-align: center;
    padding-top: 10px;

}
.TimeTable{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 85px;
}
.WeAreOpen__Title{
    font-family: 'Grand Hotel', cursive;
    color: #ffff;
    font-size: 70px;
    font-weight: 400;
}

.WeAreOpen__Workday{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 25px;
    font-weight: 700;
}
.WorkdayTime{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 30px;
    font-weight: 400;
    margin-top: -20px;
}
.WeekEnd{
    margin-top: 50px;
}
.WeAreOpen__Weekends{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 25px;
    font-weight: 700;
}
.WeekendsTime{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-size: 30px;
    font-weight: 400;
    margin-top: -20px;
}