
*{margin: 0; padding:0}
.WhiteCoffee{
    box-sizing: border-box;
    background-color: #222831;
    padding-top: 65px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;

}
.left{
    width:300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 83px;

}
.right{    
    width: 600px;
    padding-right: 6px;
}
.WCText{
    padding-right: 30px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 21px;
    font-weight:initial;
    letter-spacing: 1.55px;
    line-height: 1.84;
}

.WhiteCoffee button{
    margin-left: 2px;
    margin-top: 98px;
    background-color:#29a19c; /* Green */
    border: none;
    height: 58px;
    width: 247px;
    border-radius:15px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    letter-spacing: 0.2px;
    font-size: 33px;

}
.WhiteCoffee button:hover{
    background:white;
    color:black;
}
.WhiteCoffee h1{
    font-family: 'Grand Hotel', cursive;
    color: white;
    font-size: 125px;
    font-weight:initial;
    letter-spacing: 5px;
    line-height: 0.9;

}

.WhiteCoffee img{
    padding-left: 62px;
}

